.user-account{
  display: grid;
  place-content: center;
}


.data-container{
  border: 1px solid rgba(255, 255, 255, 0.096);
  box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
  gap: 2rem;

  transition: .5s;
}

.data-btns{
  display: flex;
  gap: 1rem;
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  background: #3E3E46;
  transition: .4s;
  
  border-radius: 1rem;
}

.slider:before{
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  border-radius: 1rem;
  transition: .4s;
}

.switch input:checked + .slider{
  background: var(--clr-primary);
}

.switch input:checked + .slider:before{
  transform: translateX(26px);
}