.articles-flow > *{
    margin-top: 1em;
}

.searchbox{
    background: none;
    border: none;
    padding: .4rem .3rem;
    border-bottom: 1px solid var(--clr-secondary);
    max-width: 400px;
}

.searchbox::placeholder{
    color: var(--clr-secondary)
}

.article-cards-container > * + *{
    margin-top: 2em;
}


.trending-container > * + *{
    margin-top: 1em;
}

@media(min-width: 1500px){

    .searchbox{
        grid-area: searchbox;
    }
    
    .foryou{
        grid-area: foryou;
    }
    
    .article-cards-container{
        grid-area: articles;
    }
    
    .trending-container{
        grid-area: trending;
    }
    
    .articles-main{
        grid-template-rows: 70%, 30%;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "searchbox ."
                            "foryou ."
                            "articles trending";
    }
}



/* ArticleCard */
.article-card{
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.article-card__title{
    text-decoration: none;
}

.article-card__title > h3{
    text-decoration: none;
    color: var(--clr-primary);
}

.article-card__title > h3:hover{
    color: var(--clr-accent);
}

.article-card > img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.article-card__info > h2{
    color: var(--clr-primary);
}

.article-card__info > h2:hover{
    color: var(--clr-accent);
}

.article-card__user{
    align-self: flex-start;
    margin-right: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
}

.article-card__user > div > p{
    font-size: var(--fs-100);
}

.article-card__user-at{
    color: #71767B;
}

.article-card__user > img{
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
}

.hiarrownarrowright{
    z-index: 1;
    color: rgb(0 0 0);
    transition: .5s all ease;
}

.readmore-btn{
    border: none;
    border-top-left-radius: .5rem;
    background: var(--clr-secondary);

    position: relative;
    justify-self: flex-end;
    max-width: fit-content;

    overflow: hidden;

    display: grid;
    place-items: center;

    padding: .2rem 1rem;
}

.readmore-btn::before{
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 0%;
    height: 100%;
    left: 0;
    transition: .5s all ease;
}

.readmore-btn:hover::before{
    width: 100%;
}

.article-card__info-top{
    display: flex;
    justify-content: space-between;
}

.article-card__date{
    font-size: var(--fs-100);
    color: #949494;
}

.article-card__info-bottom{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

@media(max-width: 500px){
    .article-card__user > div{
        display: none;
    }
}

@media(max-width:1023px){
    .article-card__info-top{
        padding: 0 0 0 1rem;
    }

    .article-card__info-bottom{
        margin-top: 2.2rem;
    }
    
    .article-card__info > p{
        padding: 0 1rem
    }

    .article-card > * + *{
        margin-top: 1em;
        position: relative;
    }
    
    .article-card{
        position: relative;
        overflow: hidden;
        
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        
        max-width: 1300px;
    }

    .readmore-btn{
        border: none;
        border-top-left-radius: .5rem;
        background: var(--clr-secondary);

        justify-self: flex-end;
        max-width: fit-content;

        overflow: hidden;

        display: grid;
        place-items: center;

        padding: .2rem 1rem;
    }

    .article-card__user{
        position: absolute;
        bottom: 10px;
    }
}

@media(min-width:1024px){
    .article-card > * + *{
        margin-top: .7em;
        position: relative;
        padding: 0rem 0rem 0rem 1rem;
    }
    
    .article-card{
        position: relative;
        overflow: hidden;
    
        display: flex;
        width: 100%;
        max-width: 1100px;
        max-height: fit-content;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    
    .article-card > img{
        max-width: 280px;
        max-height: none;
    }
    
    .article-card__info{
        display: grid;
    }
    
    
    .article-card__info > p{
        font-size: var(--fs-300);
    }

    .article-card__title > h3{
        max-width: 32ch;
    }
    
    .article-card__user > div > p{
        font-size: var(--fs-200);
    }

    .article-card__date{
        align-self: flex-end;
        margin-bottom: 5px; 
    }
}

/* TrendingWriters */
.trending-writers{
    display: none;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;

    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

@media(min-width: 1500px){
    .trending-writers{
        display: grid;
    }
}

/* ReadMore */

.readmore-card{
    margin: 1rem;
    display: grid;
    max-width: 550px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    justify-self: center;
}

.readmore-card > img{
    width: 100%;
    height: 100%;
    max-height: 280px;
    object-fit: cover;
}

.readmore-card__info{
    display: grid;
    background: var(--sixty-color);
    padding: 1rem;
    gap: .5rem;
}

.readmore-card__user{
    display: flex;
    gap: 5px;
    align-items: center;
}

.readmore-card__user > img{
    border-radius: 50%;
    width: 40px;
}

.readmore-card__user > p{
    font-size: 17px;
}

.interaction-icons-container{
    display: flex;
    gap: 1rem;
    justify-self: flex-end;
}

.interaction-icons-container > p{
    font-size: .8rem;
}

.bilike,
.faregcomment,
.bsbookmark,
.bsfillbookmarkfill,
.aifilllike{
    font-size: 1.1rem;
    cursor: pointer;
}

.back-articles-arrow{
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    margin: .5rem 0rem 0rem .5rem;
}

@media(min-width: 700px){
    .readmore-card{
        max-width: 900px;
    }
    
    .readmore-card > img{
        max-height: 500px;
    }
}