.home-main{
    background: var(--clr-surface);
    width: min(100% - 3rem, 100%);
    margin-inline: auto;
    position: relative;
}

.home-flow > *{
    margin-top: 1em;
}

.home-title{
    text-align: center;
}
