/* Shining effect */
.shining{
    background: linear-gradient(
        120deg,
        #141414 30%,
        #1a1a1a 38%,
        #1a1a1a 40%,
        #141414 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}


/* Loading Main */
.loading-main{
    display: grid;
    place-content: center;
    
    gap: 1.5rem;
}

.loading-main--flow > *{
    margin-top: 1em;
}

.loading-searchbox{
    height: 50px;
    width: 200px;

    border-radius: .5rem;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.loading-foryou{
    height: 35px;
    width: 250px;
    
    border-radius: .5rem;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.loading-trending-container{
    display: grid;
}

@media(min-width: 1500px){

    .loading-searchbox{
        grid-area: searchbox;
    }
    
    .loading-foryou{
        grid-area: foryou;
    }
    
    .loading-articles-container{
        grid-area: articles;
    }
    
    .loading-trending-container{
        grid-area: trending;
    }
    
    .loading-main{
        grid-template-rows: 70%, 30%;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "searchbox ."
                            "foryou ."
                            "articles trending";
    }
}

/* Loading Article */

.loading-articles-container{
    display: grid;
    gap: 2rem;
}

.loading-card{
    width: 700px;
    height: 280px;

    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
    
    border-radius: .5rem;

    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
}

.loading-card__img{
    height: 150px;
    width: 200px;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);

    border-radius: .5rem;
}

@keyframes load{
    100%{
        background-position: -100% 0;
    }
}


.loading-card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.loading-card__title{
    width: 90%;
    height: 35px;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
    
    border-radius: .5rem;
}

.loading-card__text{
    width: 70%;
    height: 25px;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
    
    border-radius: .5rem;
}

/* Loading Writers */

.loading-writers-container{
    width: 350px;
    height: 350px;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.loading-writers__title{
    width: 65%;
    height: 35px;
    border-radius: .5rem;
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.loading-user{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.loading-user__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.loading-user__name{
    width: 4rem;
    height: 15px;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

/* Loading Topics */
.loading-topics-container{ /* Same properties as .loading-writers-container */
    width: 350px;
    height: 350px;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.loading-topic__title{
    width: 65%;
    height: 35px;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

.loading-topic__hashtag{
    width: 45%;
    height: 25px;
    border-radius: .5rem;    
    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}