.body-app{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
}



/* MobileIcons */

.aioutlinehome,
.aioutlinefiletext,
.aioutlinefolder{
    font-size: var(--fs-600);
    color: var(--clr-text);
}

.mobileicons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: var(--clr-surface);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    gap: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.active .aioutlinehome,
.active .aioutlinefiletext,
.active .aioutlinefolder{
    color: var(--clr-primary);
}

@media (min-width: 1024px){
    .mobileicons-container{
        display: none;
    }
}